html, body {
    height: 100%;
}

html, body, * {
    padding: 0;
    margin: 0;
}

:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}

.toolbar {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    
    padding-left: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #336633;
    color: #ddffdd;
    font-size: 19pt;
    font-weight: 400;
}

.toolbar img {
    margin: 0 16px;
}

.toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
}

.toolbar #twitter-logo:hover {
    opacity: 0.8;
}
.sidebar {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    height: 100%;
    max-height: 92%;
    width: 250px;

    display: flex;

    align-items: top;

    background-color: #ccffcc;
    color: #333333;

    font-weight: 600;

    margin: 0;
    padding:0;

    overflow: scroll;
}

#sidebar:hover {
    overflow-y: auto;
}

.sidebarElementName {
    margin-left: 15px;
}

.sidebar ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidebarSubelement {
    background: #eeeeee;
    font-size: 12pt;
    margin: 0;
    padding: 5px 0px 5px 15px;
    width: 100% - 10px;
    color: #222222;
}

.sidebarSubelement:hover {
    background: #cccccc;
}

.sidebarSubelement.selected {
    background: #cccccc;
}

.sidebarElement {
    list-style-type: none;
    font-size: 20pt;
    padding: 0;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    width: 100%;
}

.content {
    position: relative;
    top: 0;
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 1260px;
    flex-direction: column;
    align-items: center;
    background: #eee;
}

a,
a:visited,
a:hover {
    color: #1976d2;
    text-decoration: none;
}

a:hover {
    color: #125699;
}
