<div class='testContainer'>
    <!-- Toolbar -->
    <mat-toolbar color='primary' class='toolbar'>
        <button mat-icon-button (click)="countryGraph.toggle()"><mat-icon>menu</mat-icon></button>

        <span class="spacer"></span>

        <h1>Covid data browser</h1>

        <span class="spacer"></span>

        <button mat-button (click)='openAbout()'>
            <mat-icon class='toolbarButton'>info</mat-icon> About
        </button>
        <button mat-button (click)='openHelp()'>
            <mat-icon class='toolbarButton'>help</mat-icon> Help
        </button>
    </mat-toolbar>

    <app-country-graph #countryGraph></app-country-graph>
</div>
