html, body {
    height: 100%;
}

html, body, * {
    padding: 0;
    margin: 0;
}

:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}

.testContainer{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mat-checkbox {
    margin-left: 15px;
}
.mat-form-field {
    margin-left: 15px;
}

.search {
    position: sticky;
    padding-top: 10px;
    top: 0;
    float: initial;
    z-index: 10;
    background-color: white;
}

.testbar {
    resize: none;
}

.selectionButton {
    margin-left: 15px;

}
.sidenavContainer {
    flex: 1;
}

.toolbar {
}

.content {
    position: relative;
    top: 0;
    margin: 50px 20px 32px 50px;
    padding: 25px;
    max-width: calc(100% - 320px);
    max-height: 100%;
    align-items: center;
    background: #eee;
}

