<mat-list class='helpDialog'>
   <h3 matSubheader>About</h3>
   <mat-list-item>
      <p matLine>
      I made this tool so that I could interactively explore COVID data. Some of the goals were:
      </p>
   </mat-list-item>

   <mat-divider></mat-divider>

   <h3 matSubheader>Sources</h3>
   <mat-list-item>
      <h4 matLine>Data</h4>
      <p matLine> Data provided by <a href='https://github.com/CSSEGISandData/COVID-19'>Johns Hopkins</a></p>
   </mat-list-item>
   <mat-list-item>
      <h4 matLine>Source code</h4>
      <p matLine> <a href='https://github.com/JShabtai/covid-data'>View the source on GitHub </a></p>
   </mat-list-item>

   <mat-divider></mat-divider>

   <h3 matSubheader>Other useful tools</h3>
   <mat-list-item>
       <h4 matLine><a href='https://aatishb.com/covidtrends/'>Covid Trends</a></h4>
      <p matLine>A neat graph that plots number of daily cases against total cases, and uses animation to show time.</p>
   </mat-list-item>

</mat-list>
